# Dependencies
node_modules/
dist/

# Output Files
*.pdf
screenshot-*.png

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# Environment
.env
.env.local

# TypeScript
tsbuildinfo
